@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';


@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.627 0.194 149.214 / 0.8); 
  --primary-foreground: oklch(0 0 0 / 0.8); 
  --font-sans: 'Poppins', sans-serif; /* <-- Halkan beddel */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.96 0.04 149.214);
  --secondary-foreground: oklch(0 0 0 / 0.8);
  --muted: oklch(0.96 0 0);
  --muted-foreground: oklch(0.45 0 0);
  --accent: oklch(0.85 0.15 149.214 / 0.2);
  --accent-foreground: oklch(0 0 0 / 0.8);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.93 0 0);
  --input: oklch(0.98 0 0);
  --ring: oklch(0.627 0.194 149.214);
  --radius: 0.75rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.627 0.194 149.214 / 0.9);
  --primary-foreground: oklch(0 0 0 / 0.9);
  --secondary: oklch(0.25 0.05 149.214);
  --border: oklch(0.25 0 0);
}

@theme inline {
  --font-sans: 'Poppins', sans-serif; /* <-- Halkan sidoo kale */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-sans;
  }
  
  .text-primary {
    @apply text-black/80 dark:text-white/90;
  }
  
  button.bg-primary {
    @apply text-black/80 font-bold;
  }
}
